body {
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', arial;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

/* Navbar Section */
.navbar {
  background-color: #1f2937;
  align-items: center;
  display: flex;
  justify-content:space-evenly;
  color: #F9FAF8;
  padding: 10px;
}

.logo {
  font-weight: 900;
  font-size: 24px;
  text-align: left;
}

.nav-links a {
  text-align: right;
  margin: 10px;
}

/* Intro Section */
.intro {
  background-color: #1f2937;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #F9FAF8;
  padding: 50px;
}

.introContent {
  flex-basis: 400px;
  padding: 100px;
  text-align: left;
  margin-right: 50px;
}

.intro h1 {
  font-weight: 900;
  font-size: 48px;
  margin: 0;
}

button {
  font-family: 'Roboto', arial;
  font-size: 20px;
  font-weight: 900;
  border-radius: 8px;
  width: 110px;
  background-color: #3882f6;
  color: #F9FAF8;
  padding: 10px;
  border-color: #F9FAF8;
}

.intro img {
  height: 300px;
}

/* Gallery Section */
.Gallery {
  align-items: center;
}

.Gallery h1 {
  font-weight: 900;
  font-size: 36px;
  margin: 0;
  padding: 40px;
}

.galleryContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.galleryContent p {
  flex-wrap: wrap;
  width: 250px;
}

.galleryContent img {
  width: 200px;
  object-fit: cover;
  border-radius: 16px;
  border: #3882f6 8px;
  border-style: solid;
}

/* Quote Section */

.quote {
  background-color: #e5e7eb;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 40px;
  flex-direction: column;
}

.quote p {
  font-family: 'Roboto', arial;
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  width: 55%;
  font-style: italic;
}

.quote b {
  font-family: 'Roboto', arial;
  font-size: 20px;
  width: 55%;
  text-align: right;
}

/* Sign up section */
.sign-up {
  background-color: #3882f6;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #F9FAF8;
  padding: 20px;
  margin: 30px 350px;
  border-radius: 8px;
  justify-content: space-around;
  text-align: left;
}

/* Footer Section */

.footer {
  background-color: #1f2937;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #F9FAF8;
  padding: 30px;
}